.error {
	color: #ff6e6e;
	text-decoration: underline wavy
}

.single-quoted {
	color: #94dc90;
	font-style: italic;
}

.double-quoted {
	color: #94dc90;
	font-style: italic;
}

.keyword {
	color: #ff6722;
	font-weight: bold;
}

.keyword-value {
	color: #efd099;
}

.primitive {
	color: #bea0d6;
}

.function-call {
	color: #50c6fe;
}

.identifier {

}

.number {
	color: #efd099;
}

.comment {
	color: #858585;
	font-style: italic;
}

.preprocessor-directive {
	color: #ff6e6e;
	font-weight: bold;
}